<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Parameters" type="System.Configuration.DictionarySectionHandler"/>
    <section name ="TemplateMethods" type="System.Configuration.DictionarySectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!-- Batch parameters -->
  <Parameters>
    <add key="InputFilePath" value="C:\temp\input.xml"/>
    <add key="OutputFilePath" value="C:\temp\results.csv"/>
  </Parameters>

  <!-- Report construction -->
  <TemplateMethods>
    <add key="InputTradesProviderInstance" value="InputTradesProvider"/>
    <add key="TradesAggregatorInstance" value="TradesAggregator"/>
    <add key="StatusAttributorInstance" value="TradesGroupStateAttributor"/>
    <add key="ReportGeneratorInstance" value="TradesGroupReportGenerator"/>
  </TemplateMethods>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\temp\server-"/><!-- log file name -->
      <datePattern value="yyyyMMdd'.log'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>